
<template name="configs">
    <div  style="height: 40px;">
        <span style="font-size: 18pt" class="right">:config templates</span>
        <button class="add_config left">New config</button>
    </div>
    <div id="configs">
            {{# each configs}}
            <div class="inverted">
                 <span class="right"> 
                    <span class="left edit-link"><a class="edit_config" href="#" data-uuid="{{this._id}}">[:edit]</a></span>
                    <span class="left edit-link"><a class="del_config" href="#" data-uuid="{{this._id}}">[:del]</a></span>
                 </span>
                <strong>Title:</strong> {{this.title}} <br>
                <small class="comment"><em>#{{this.comment}}</em></small>
            </div>
            {{/each}}
    </div>
</template>      