 <template name="body">
        <header class="inverted navbar-fixed-top">
            <img src="/img/act_r.png" alt="logo" class="logo">
            <span class="title">
                Evernight
            </span>
            {{#if currentUser}}
                {{>menu}}
            {{/if}}
        </header>

		<content>
        {{#if currentUser}}
            {{>two_columns}}
        {{else}}
            {{>login}}            
        {{/if}}
		</content>
</template>
 
 <template name="two_columns">
    <div id="wrapper">
	<div class="row-fluid">

		<div class="span6 left" style="margin-bottom: 20px;" id="lcolumn">
			<div id="left-content" class="well inverted">
                {{>main}}
			</div>
			<div class="inverted bottom"></div>
		</div>

		<div class="span5 right"  style="" id="rcolumn">
				<div id="content" class="well inverted">
                    {{>servers}}
				</div>
				<div class="inverted bottom"></div>
		</div>
        
	
	</div>
    </div>

	<div class="side inverted" style="display: none;">{{>sidebar}}</div>
</template>