<template name="main">
            {{noEscape lorem}}
            <hr>
            <div class="row-fluid">
                <div class="span7">
                    {{>configs}}
                </div>
                <div class="span5 well" style="height: 500px;" id="placeholder">
                    <h3>:placeholder</h3>
                    <div contentEditable="true" data-key="placeholder">{{noEscape placeholder}}</div>
                <div>
            </div>
</template>

<template name="modal">
    <div id="{{id}}" class="reveal-modal large inverted">
        <h1>{{title}}</h1>
        <div class="reveal-content">
        <p>{{noEscape content}}</p>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</template>
      