<template name="main">
    <div class="inverted well">

        <h3>:lorem</h3>
            <pre class="prettyptint lang-sh">
                sudo apt-get install python-pip python-dev
                sudo pip install fabric bottle boto jinja2
                git clone git@bitbucket.org:anabrodov/nervarin.git
                cd ./nervarin
                fab -f ./nervarin.py -R localhost init:full=True
                tmux
            </pre>
    </div>

</template>

<template name="modal">
    <div id="{{id}}" class="reveal-modal large">
        <h1>{{title}}</h1>
        <div class="reveal-content">
        <p>{{noEscape content}}</p>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</template>