<template name="servers">
    <div class="inverted well">
        {{#constant}}
        <div style="width: 90%; margin: 6px auto; height: 40px;">
            <span class="visual_search left" style="width: 80%;"></span>
            <button class="add_server right" style="margin-top: 4px;">New</button>
        </div>
        {{/constant}}
    </div>
    {{>servers_list}}

</template>

<template name="servers_list">
        <div id="servers" class="inverted">
        {{# each servers_list}}
            <div data-uuid="{{this._id}}" class="inverted">
                <span class="edit-links right">
                    <!--<span class="left edit-link"><a href="#" data-uuid="{{this._id}}" class="view_server">[:view]</a></span>-->
                    <span class="left edit-link"><a href="#" data-uuid="{{this._id}}" class="edit_server">[:json]</a></span>
                    <span class="left edit-link"><a href="#" data-uuid="{{this._id}}" class="del_server">[:del]</a></span>
                </span>
                <strong>{{this.alias}} <small>[
                    {{# if this.host}}
                        <a href="{{this.host}}">{{this.host}}</a>
                    {{else}}
                        {{this.ip}}
                    {{/if}}
                    ]</small></strong> <br>
                <small>&gt;&gt;&nbsp;{{this.description}}</small> <br>
                <strong>IP:</strong> {{this.ip}} <br>
                <strong>OS:</strong> {{this.os}} <br>
                {{#if this.ssh}}
                    <strong>SSH:</strong>
                    {{# if this.ssh_password }}
                        sshpass -p {{this.ssh_password}}{{/if}} ssh {{this.ssh_user}}@{{# if this.host }}{{this.host}}{{ else }}{{this.ip}}{{/if}} -p {{this.ssh_port}} <br />
                {{/if}}
                {{#if this.tags}}
                <strong>Tags:</strong>
                    <span class="tags">
                        {{# each this.tags}}
                            <span class="label label-success">{{this}}</span>
                        {{/each}}
                    </span> <br>
                {{/if}}
                {{# if this.attrs}}
                    <strong>Attributes:</strong>
                    <ul>
                        {{# each_with_index this.attrs}}
                            <li>{{this}}</li>
                        {{/each_with_index}}
                    </ul>
                {{/if}}
                {{# if this.groups}}
                    <strong>Groups:</strong>
                    <span class="groups">
                        {{# each this.groups}}
                            <span class="label label-info">{{this}}</span>
                        {{/each}}
                    </span> <br>
                {{/if}}
            </div>
        {{/each}}
        </div>
</template>