<template name="menu">

    <ul>
        <li class="title">{{currentUser.profile.name}}</li>
        <li class="title">|</li>
        <li><button id="logout_link">Logout</button></li>
    </ul>

</template>

<template name="sidebar">
<!--             <button class="dropdown">Booms<span>#</span></button>
        <button>Test</button> -->
        <!--<ul>
        	<li><a href="#">Main</a></li>
        	<li><a href="#!/servers">Servers</a></li>
        </ul>-->
        <div class="inverted" style="padding: 6px;">
            <strong>:collections</strong>
            <span class="right"> 
                    <span class="left"><a class="hide_sidebar" href="#">[:hide]</a></span>
                </span>
        </div>
        {{# each collections}}
            <div class="inverted" style="padding: 6px;">
                {{this}}
                <span class="right"> 
                    <span class="left"><a class="edit_collection" href="#" data-collection="{{this}}">[:edit]</a></span>
                </span>
            </div>
        {{/each}}
            <div class="inverted" style="padding: 6px;">
                Main
                <span class="right"> 
                    <span class="left"><a class="edit_profile" href="#">[:edit]</a></span>
                </span>
            </div>

</template>