<template name="menu">

    <ul>
        <li class="title">{{currentUser.profile.name}}</li>
        <li class="title">|</li>
        <li><button id="logout_link">Logout</button></li>
    </ul>

</template>

<template name="sidebar">
<!--             <button class="dropdown">Booms<span>#</span></button>
        <button>Test</button> -->
        <!--<ul>
        	<li><a href="#">Main</a></li>
        	<li><a href="#!/servers">Servers</a></li>
        </ul>-->
        <strong style="padding: 6px">:collections</strong>
        <!--TODO: iterate in collections-->
        <div class="inverted" style="padding: 6px;">
            Aliases
            <span class="right"> 
                <span class="left"><a class="edit_collection" href="#" data-collection="ALIASES">[:edit]</a></span>
            </span>
        </div>
        <div class="inverted" style="padding: 6px;">
            Configs
            <span class="right"> 
                <span class="left"><a class="edit_collection" href="#" data-collection="CONFIGS">[:edit]</a></span>
            </span>
        </div>
        <div class="inverted" style="padding: 6px;">
            Servers
            <span class="right"> 
                <span class="left"><a class="edit_collection" href="#" data-collection="SERVERS">[:edit]</a></span>
            </span>
        </div>
</template>